* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#calculator_container {
  background: #f5f5f5;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 100%;
  margin: 20px auto;
  padding: 10px;
  padding-top: 5px;
  border-radius: 8px;
}

#displayEl {
  background-color: #fafafa;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
  color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  height: 4rem;
  margin-bottom: 10px;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

#displayEl:focus,
#displayEl:active {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(110%);
}

.calculator_key {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.numKey,
.decimal {
  background-color: #b7b6b6;
  font-size: 30px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 3000ms ease-in-out;
}

.operatorKey {
  background-color: #2c3e50;
  color: #fff;
  font-size: 30px;
  border: none;
  height: 45px;
  border: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: transfrom 3000ms ease-in-out;
}

.resetKey {
  background-color: rgba(225, 40, 40);
  color: #fff;
  font-size: 30px;
  border: none;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 3000ms ease-in-out;
}

.reset_key:focus {
  outline: none;
}

.reset_key:hover {
  filter: brightness(90%);
  transform: translateY(1px);
}

.assign_key {
  font-size: 1.6rem;
  height: auto;
}

.add_key {
  grid-column: 1 / 2;
}

.evalKey {
  background-color: rgb(13, 206, 87);
  color: #fff;
  font-size: 30px;
  border: none;
  grid-column: 4 / 5;
  grid-row: 2 / 6;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 3000ms ease-in-out;
}

.numKey:hover,
.operatorKey:hover,
.assign_key:hover,
.evalKey:hover,
.decimal:hover {
  filter: brightness(110%);
  transform: translateY(1px);
}

.numKey:active,
.operatorKey:active,
.assign_key:active,
.evalKey:active,
.resetKey:active {
  transform: scale(1.01);
}

.num_key:focus,
.operatorKey:focus,
.assign_key:focus,
.equalKey:focus {
  outline: none;
}

/* media query */
@media screen and (max-width: 75em) and (min-width: 19em) {
  #calculator_container {
    width: 90%;
    height: 100%;
    padding-top: 2rem;
  }

  .calculator_key {
    height: 65vh;
    margin: 2rem auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  #displayEl {
    height: 80px;
  }

  .operatorKey {
    height: 100%;
  }

  .numKey {
    height: 100%;
    background-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .numKey:active,
  .operatorKey:active,
  .assign_key:active,
  .evalKey:active,
  .resetKey:active {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
}